<center>
<h1> Hello there! </h1>
<form action="/message" method="post">
  <label for="name"> 
  What's your name?  <input type="text" name="name">
  </label>
<h2> When is your birthday? </h2>
  <label for= "day">
  Day:  <input type="number" name="day" min="1" max="31">
  </label>
  <label for= "month">
  Month:  <input type="number" name="month" min="1" max="12">
  </label>
    <input type="submit" value="Submit">
</form>
</center>
